.tab-button {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
}

.tab-button:hover {
  cursor: pointer;
}

.tab-button.selected {
  border: 1px solid green;
}

.tab-image {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  padding: 5%;
  max-width: 90%;
}
